@import '~antd/dist/antd.css';

.card{
  width: 240px !important;
  border-radius: 10px !important;
  margin-left: 30px !important;
  margin-bottom: 10px !important;
}



@media (max-width: 600px) {
  .card{
    margin: 0 auto !important;
  }
}