nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  color: white;
  padding: 1%;
  min-height: 150px;
}

.navItem {
  padding: 10px;
  color: white;
  justify-content: flex-end;
  align-items: flex-end;
  list-style-type: none;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 120px;
  position: absolute;
  top: 10px;
}

.avatar{
  display: block;
  margin: 0 0 0 auto;
}

@media (max-width: 600px) {
  .logo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 60px;
  }
  nav{
    width: fit-content;
  }
  .avatar{
    position: absolute;
    right: 10px;
  }
}